@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[dir="rtl"] {
    font-family: "Cairo", "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
  }

  html[dir="ltr"] {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", sans-serif;
  }
}

@layer utilities {
  .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
  }
}
